 <header class="header-top">
        <nav class="navbar navbar-light">
            <div class="navbar-left">
                <a href="#" class="sidebar-toggle">
                    <img class="svg" src="assets/admin/img/svg/bars.svg" alt="img"></a>
                <a class="navbar-brand" routerLink="/dashboard">Paper Shelf</a>
            </div>

            <div class="navbar-right">
                <ul class="navbar-right__menu">
                    <li class="nav-author">
                        <div class="dropdown-custom">
                            <a href="javascript:;" class="nav-item-toggle"><img src="assets/admin/img/svg/defualt-profile.svg" alt="" class="rounded-circle"></a>
                            <div class="dropdown-wrapper">
                                <div class="nav-author__info">
                                    <div class="author-img">
                                        <img src="assets/admin/img/svg/defualt-profile.svg" alt="" class="rounded-circle">
                                    </div>
                                    <div>
                                        <h6>{{name}}</h6>
                                        <span>{{email}}</span>
                                    </div>
                                </div>
                                <div class="nav-author__options">
                                    
                                    <a (click)="logout()" routerLink="/" class="nav-author__signout">
                                        <span data-feather="log-out"></span> Sign Out</a>
                                </div>
                            </div>
                            <!-- ends: .dropdown-wrapper -->
                        </div>
                    </li>
                    <!-- ends: .nav-author -->
                </ul>

            </div>
            <!-- ends: .navbar-right -->
        </nav>
    </header>
